In [1]:
import os
os.chdir('../')
os.getcwd()

'C:\\Users\\頼仁\\Documents\\github\\TrAdaboost'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# arffファイル読み込み

In [6]:
from scipy.io import arff
import pandas as pd

data = arff.loadarff('./dataset/transfer data/new-autompg1.arff')
df = pd.DataFrame(data[0])

df

     cyl   disp  horse  weight  accel  orig   mpg
0    8.0  307.0  130.0  3504.0   12.0   1.0  18.0
1    8.0  350.0  165.0  3693.0   11.5   1.0  15.0
2    8.0  318.0  150.0  3436.0   11.0   1.0  18.0
3    8.0  304.0  150.0  3433.0   12.0   1.0  16.0
4    8.0  302.0  140.0  3449.0   10.5   1.0  17.0
..   ...    ...    ...     ...    ...   ...   ...
128  6.0  250.0  100.0  3336.0   17.0   1.0  15.0
129  4.0   79.0   67.0  1950.0   19.0   3.0  31.0
130  4.0  122.0   80.0  2451.0   16.5   1.0  26.0
131  4.0   71.0   65.0  1836.0   21.0   3.0  32.0
132  4.0  140.0   75.0  2542.0   17.0   1.0  25.0

[133 rows x 7 columns]

In [7]:
data = arff.loadarff('./dataset/transfer data/new-concrete1.arff')
df = pd.DataFrame(data[0])

df

         b      c      d     e       f      g      h      i
0    153.0    0.0  192.0   0.0   887.0  942.0    3.0   4.57
1    153.0    0.0  192.0   0.0   887.0  942.0   90.0  25.46
2    153.0    0.0  192.0   0.0   887.0  942.0    7.0   7.68
3    153.0    0.0  192.0   0.0   887.0  942.0   28.0  17.28
4    162.4    0.0  203.5   0.0   938.2  849.0   28.0  20.59
..     ...    ...    ...   ...     ...    ...    ...    ...
337    0.0  174.7  154.8  10.2  1053.5  776.4   56.0  46.64
338    0.0  174.7  154.8  10.2  1053.5  776.4  100.0  50.08
339   98.1   24.5  181.7   6.7  1066.0  785.5    3.0  13.18
340   98.1   24.5  181.7   6.7  1066.0  785.5   14.0  17.84
341   98.1   24.5  181.7   6.7  1066.0  785.5   28.0  40.23

[342 rows x 8 columns]

In [8]:
data = arff.loadarff('./dataset/transfer data/new-concrete1.arff')
df1 = pd.DataFrame(data[0])
df1["label"] = "low"
data = arff.loadarff('./dataset/transfer data/new-concrete2.arff')
df2 = pd.DataFrame(data[0])
df2["label"] = "medium"
data = arff.loadarff('./dataset/transfer data/new-concrete3.arff')
df3 = pd.DataFrame(data[0])
df3["label"] = "high"
df = pd.concat([df1, df2, df3], sort=False).reset_index(drop=True)
df

          b    c      d    e       f      g      h      i label
0     153.0  0.0  192.0  0.0   887.0  942.0    3.0   4.57   low
1     153.0  0.0  192.0  0.0   887.0  942.0   90.0  25.46   low
2     153.0  0.0  192.0  0.0   887.0  942.0    7.0   7.68   low
3     153.0  0.0  192.0  0.0   887.0  942.0   28.0  17.28   low
4     162.4  0.0  203.5  0.0   938.2  849.0   28.0  20.59   low
...     ...  ...    ...  ...     ...    ...    ...    ...   ...
1025    0.0  0.0  173.0  0.0  1125.0  613.0   28.0  67.31  high
1026    0.0  0.0  173.0  0.0  1125.0  613.0   90.0  69.66  high
1027    0.0  0.0  173.0  0.0  1125.0  613.0  180.0  71.62  high
1028    0.0  0.0  173.0  0.0  1125.0  613.0  270.0  74.17  high
1029    0.0  0.0  173.0  0.0  1125.0  613.0    3.0  41.64  high

[1030 rows x 9 columns]

In [10]:
data = arff.loadarff('./dataset/transfer data/new-imports1.arff')
df1 = pd.DataFrame(data[0])
df1["label"] = "low"
data = arff.loadarff('./dataset/transfer data/new-imports2.arff')
df2 = pd.DataFrame(data[0])
df2["label"] = "medium"
data = arff.loadarff('./dataset/transfer data/new-imports3.arff')
df3 = pd.DataFrame(data[0])
df3["label"] = "high"
df = pd.concat([df1, df2, df3], sort=False).reset_index(drop=True)
df

,a,b,c,d,e,f,g,h,I,j,...,q,r,t,u,v,w,x,y,z,label
0,3.0,150.0,b'saab',b'gas',b'std',b'two',b'hatchback',b'fwd',b'front',99.1,...,121.0,b'mpfi',2.07,9.3,110.0,5250.0,21.0,28.0,15040.0,low
1,1.0,NaN,b'alfa-romero',b'gas',b'std',b'two',b'hatchback',b'rwd',b'front',94.5,...,152.0,b'mpfi',3.47,9.0,154.0,5000.0,19.0,26.0,16500.0,low
2,2.0,121.0,b'chevrolet',b'gas',b'std',b'two',b'hatchback',b'fwd',b'front',88.4,...,61.0,b'2bbl',3.03,9.5,48.0,5100.0,47.0,53.0,5151.0,low
3,2.0,137.0,b'honda',b'gas',b'std',b'two',b'hatchback',b'fwd',b'front',86.6,...,92.0,b'1bbl',3.41,9.6,58.0,4800.0,49.0,54.0,6479.0,low
4,2.0,137.0,b'honda',b'gas',b'std',b'two',b'hatchback',b'fwd',b'front',86.6,...,92.0,b'1bbl',3.41,9.2,76.0,6000.0,31.0,38.0,6855.0,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,3.0,186.0,b'porsche',b'gas',b'std',b'two',b'hatchback',b'rwd',b'front',94.5,...,151.0,b'mpfi',3.11,9.5,143.0,5500.0,19.0,27.0,22018.0,high
197,3.0,150.0,b'mazda',b'gas',b'std',b'two',b'hatchback',b'rwd',b'front',95.3,...,70.0,b'4bbl',NaN,9.4,101.0,6000.0,17.0,23.0,10945.0,high
198,3.0,150.0,b'mazda',b'gas',b'std',b'two',b'hatchback',b'rwd',b'front',95.3,...,70.0,b'4bbl',NaN,9.4,101.0,6000.0,17.0,23.0,11845.0,high
199,3.0,150.0,b'mazda',b'gas',b'std',b'two',b'hatchback',b'rwd',b'front',95.3,...,70.0,b'4bbl',NaN,9.4,101.0,6000.0,17.0,23.0,13645.0,high
200,3.0,150.0,b'mazda',b'gas',b'std',b'two',b'hatchback',b'rwd',b'front',95.3,...,80.0,b'mpfi',NaN,9.4,135.0,6000.0,16.0,23.0,15645.0,high

In [11]:
data = arff.loadarff('./dataset/transfer data/new-housing1.arff')
df1 = pd.DataFrame(data[0])
df1["label"] = "low"
data = arff.loadarff('./dataset/transfer data/new-housing2.arff')
df2 = pd.DataFrame(data[0])
df2["label"] = "medium"
data = arff.loadarff('./dataset/transfer data/new-housing3.arff')
df3 = pd.DataFrame(data[0])
df3["label"] = "high"
df = pd.concat([df1, df2, df3], sort=False).reset_index(drop=True)
df

,a,b,c,d,f,g,h,i,j,k,l,m,n,label
0,0.01965,80.0,1.76,0.0,6.230,31.5,9.0892,1.0,241.0,18.2,341.60,12.93,20.1,low
1,0.01096,55.0,2.25,0.0,6.453,31.9,7.3073,1.0,300.0,15.3,394.72,8.23,22.0,low
2,0.04819,80.0,3.64,0.0,6.108,32.0,9.2203,1.0,315.0,16.4,392.89,6.57,21.9,low
3,0.03548,80.0,3.64,0.0,5.876,19.1,9.2203,1.0,315.0,16.4,395.18,9.25,20.9,low
4,0.01538,90.0,3.75,0.0,7.454,34.2,6.3361,3.0,244.0,15.9,386.34,3.11,44.0,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,2.14918,0.0,19.58,0.0,5.709,98.5,1.6232,5.0,403.0,14.7,261.95,15.79,19.4,high
502,1.41385,0.0,19.58,1.0,6.129,96.0,1.7494,5.0,403.0,14.7,321.02,15.12,17.0,high
503,3.53501,0.0,19.58,1.0,6.152,82.6,1.7455,5.0,403.0,14.7,88.01,15.02,15.6,high
504,2.44668,0.0,19.58,0.0,5.272,94.0,1.7364,5.0,403.0,14.7,88.63,16.14,13.1,high
505,1.42502,0.0,19.58,0.0,6.510,100.0,1.7659,5.0,403.0,14.7,364.31,7.39,23.3,high

In [16]:
data = arff.loadarff('./dataset/transfer data/new-autompg1.arff')
df1 = pd.DataFrame(data[0])
df1["label"] = "low"
data = arff.loadarff('./dataset/transfer data/new-autompg2.arff')
df2 = pd.DataFrame(data[0])
df2["label"] = "medium"
data = arff.loadarff('./dataset/transfer data/new-autompg3.arff')
df3 = pd.DataFrame(data[0])
df3["label"] = "high"
df = pd.concat([df1, df2, df3], sort=False).reset_index(drop=True)
df

     cyl   disp  horse  weight  accel  orig   mpg label
0    8.0  307.0  130.0  3504.0   12.0   1.0  18.0   low
1    8.0  350.0  165.0  3693.0   11.5   1.0  15.0   low
2    8.0  318.0  150.0  3436.0   11.0   1.0  18.0   low
3    8.0  304.0  150.0  3433.0   12.0   1.0  16.0   low
4    8.0  302.0  140.0  3449.0   10.5   1.0  17.0   low
..   ...    ...    ...     ...    ...   ...   ...   ...
393  4.0  140.0   86.0  2790.0   15.6   1.0  27.0  high
394  4.0   97.0   52.0  2130.0   24.6   2.0  44.0  high
395  4.0  135.0   84.0  2295.0   11.6   1.0  32.0  high
396  4.0  120.0   79.0  2625.0   18.6   1.0  28.0  high
397  4.0  119.0   82.0  2720.0   19.4   1.0  31.0  high

[398 rows x 8 columns]

In [18]:
df.isnull().any()

cyl       False
disp      False
horse      True
weight    False
accel     False
orig      False
mpg       False
label     False
dtype: bool

In [22]:
df[df["horse"].isnull()]

     cyl   disp  horse  weight  accel  orig   mpg label
32   4.0   98.0    NaN  2046.0   19.0   1.0  25.0   low
126  6.0  200.0    NaN  2875.0   17.0   1.0  21.0   low
330  4.0   85.0    NaN  1835.0   17.3   2.0  40.9  high
336  4.0  140.0    NaN  2905.0   14.3   1.0  23.6  high
354  4.0  100.0    NaN  2320.0   15.8   2.0  34.5  high
374  4.0  151.0    NaN  3035.0   20.5   1.0  23.0  high

In [25]:
df["horse"].min()

46.0

In [30]:
df.fillna(-9999, inplace=True)
df[df["horse"]==-9999]

     cyl   disp   horse  weight  accel  orig   mpg label
32   4.0   98.0 -9999.0  2046.0   19.0   1.0  25.0   low
126  6.0  200.0 -9999.0  2875.0   17.0   1.0  21.0   low
330  4.0   85.0 -9999.0  1835.0   17.3   2.0  40.9  high
336  4.0  140.0 -9999.0  2905.0   14.3   1.0  23.6  high
354  4.0  100.0 -9999.0  2320.0   15.8   2.0  34.5  high
374  4.0  151.0 -9999.0  3035.0   20.5   1.0  23.0  high